<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(content)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${content}">Layout</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="/css/ionicons.min.css" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css" th:href="@{/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" href="/css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="/css/_all-skins.min.css" th:href="@{/css/_all-skins.min.css}">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css" th:href="@{/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixedColumns.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixedColumns.bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixedHeader.bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixedHeader.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:include="fragments/header/header.html :: header" class="main-header"></div>
    <div th:include="fragments/menu/menu.html :: menu" class="main-sidebar"></div>
    <div  th:fragment="radioUploadFile">
        既に登録済みのデータが存在します。
        登録済みのデータに対し、どのように処理するが洗濯してください
        <div class="radio">
            <label><input type="radio" name="optradio" checked>ないデータは追加し、登録済のデータは無視する</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">ないデータは追加し、登録済のデータは上書き更新する</label>
        </div>
    </div>
    <div class="content-wrapper">
        <section class="content-header">
            <div th:if="${message} != null">
                <h2>お探しのページは見つかりませんでした。</h2>
                <div>Status code: <b th:text="${message}"></b></div>
            </div>
            <h1 th:if="${message} == null">
                TITLE
            </h1>
        </section>
    </div>
</div>
<footer th:fragment="footer">
    <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
    <script src="/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="/js/dataTables.bootstrap.min.js" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script src="/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>

    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/buttons.flash.min.js}"></script>
    <script th:src="@{/js/jszip.min.js}"></script>
    <script th:src="@{/js/buttons.html5.min.js}"></script>
    <script th:src="@{/js/vfs_fonts.js}"></script>
    <script th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
    <script th:src="@{/js/dataTables.fixedHeader.min.js}"></script>
</footer>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
</body>
</html>
