<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="layout :: head('List User')"></head>
	<link rel="Stylesheet" type="text/css" href="/css/actualResults.css" th:href="@{/css/listUser.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
	<header th:replace="layout :: header"></header>
	<div th:replace="layout :: content-left"></div>
    <div  class="content-wrapper">
    <section class="content-header">
      <h1>
        List User
      </h1>
    </section>
    <section class="content content-right">
      <div class="row">
      	<div class="col-md-12 button_top">
      		
   			<div class="col-md-2 burron-top-order">
      			<button type="submit" class="btn btn-primary ">Order</button>
      		</div>
      		<div class="col-md-1">
      		</div>
      		<div class="col-md-2 button-top-delivery">
      			<button type="submit" class="btn btn-primary ">Delivery</button>
      		</div>
      		<div class="col-md-7">
      			
      		</div>
      	</div>

        <div class="col-md-12">
        	<div style="border-top: 3px solid #337ab7;" class="box">
            <div class="box-body">
              <table id="listUser" class="table table-bordered table-hover">
                <thead style="background: #337ab7">
                <tr>
                  <th>
					<input type="checkbox">
				  </th>
                  <th>Mail</th>
                  <th>Username</th>
                  <th>Store A</th>
                  <th>Store B</th>
                  <th>Store C</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
				  	<input type="checkbox">
				  </td>
                  <td>join@gmail.com </td>
                  <td>Join username</td>
                  <td>edit</td>
                  <td>view</td>
                  <td>view</td>
                </tr>
                <tr>
                  <td>
				  	<input type="checkbox">
				  </td>
                  <td>mary@gmail.com </td>
                  <td>Mary username</td>
                  <td></td>
                  <td></td>
                  <td>view</td>
                </tr>
              </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        </div>

    </section>
  </div>

</div>
<footer th:replace="layout :: footer"></footer>
<script type="text/javascript" src="/js/mainMenu_t.js" th:src="@{/js/listUser_t.js}"></script>
</body>
</html>
