<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout :: head('ユーザー編集')"></head>
    <link rel="Stylesheet" th:href="@{/css/utils/registerUpdate.css}" type="text/css"/>
    <link rel="Stylesheet" th:href="@{/css/registerUser.css}" type="text/css"/>
</head>
<body class="hold-transition skin-blue sidebar-mini" id="body">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
    <div class="main-header" th:include="fragments/header/header.html :: header"></div>
    <div class="main-sidebar" th:include="fragments/menu/menu.html :: menu"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                ユーザー編集
            </h1>
        </section>

        <div th:replace="fragments/alert/alert :: alert (message= ${message})"></div>

        <section class="content content-right">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="box box-primary">
                            <div class="box-header" style="text-align: center;">
                                <p class="box-titles"></p>
                            </div>
                            <div class="box-body">
                                <form th:action="@{/user/profile}" th:method="post" th:object="${aggregate}">
                                    <input th:field="*{userId}" type="hidden"/>
                                    <div class="col-md-12">
                                        <span class="col-md-5">メールアドレス<span class="input_require">*</span></span>
                                        <div class=" form-group col-md-6 has-feedback">
                                            <input class="form-control" id="email" th:errorclass="field-error"
                                                   th:field="*{email}"
                                                   type="text">
                                            <em class="error" id="errorEmail"
                                                th:utext="#{err.user.emailEmpty.msg}"></em>
                                            <em class="error_show" id="error_exitsted"
                                                th:if="${errorEmailShow} == true"
                                                th:utext="#{err.user.emailExisted.msg}"></em>
                                            <em class="error" id="errorFormat"
                                                th:utext="#{err.user.emailFormat.msg}"></em>
                                            <em class="error_show" th:errors="*{email}"
                                                th:if="${#fields.hasErrors('email')}"></em>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="col-md-5">ユーザー名<span class="input_require">*</span></span>
                                        <div class="form-group col-md-6" style="">
                                            <input class="form-control" id="userName" th:errorclass="field-error"
                                                   th:field="*{userName}"
                                                   type="text">
                                            <em class="error" id="errorUserName"
                                                th:utext="#{err.user.nameEmpty.msg}"></em>
                                            <em class="error_show" th:errors="*{userName}"
                                                th:if="${#fields.hasErrors('userName')}"></em>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="col-md-5">パスワード</span>
                                        <div class="form-group col-md-6" style="">
                                            <input class="form-control" id="password" th:errorclass="field-error"
                                                   th:field="*{password}"
                                                   type="password">
                                            <em class="error" id="errorPassword"
                                                th:utext="#{err.user.passwordEmpty.msg}"></em>
                                            <em id="errorPasswordSpaceWhite" class="error"
                                                th:utext="#{err.user.passwordContainSpaceWhite.msg}"></em>
                                            <em class="error_show" th:errors="*{password}"
                                                th:if="${#fields.hasErrors('password')}"></em>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="col-md-5">パスワード(確認用)</span>
                                        <div class="form-group col-md-6" style="">
                                            <input class="form-control" id="repPassword" type="password">
                                            <em class="error" id="errorPasswordNoRep"
                                                th:utext="#{err.user.passwordNotEquals.msg}"></em>
                                            <em class="error" id="errorRepPassword"
                                                th:utext="#{err.user.repPasswordEmpty.msg}"></em>
                                            <em id="errorRepPasswordSpaceWhite" class="error"
                                                th:utext="#{err.user.passwordContainSpaceWhite.msg}"></em>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="col-md-5">ユーザー権限</span>
                                        <div class="form-group col-md-6" style="">
                                            <select class="form-control" id="role" th:value="${role}" th:field="*{role}"
                                                    th:disabled="${role == 0}">
                                                <option th:value="1">管理者</option>
                                                <option th:value="0">一般ユーザー</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <th:block th:if="${#lists.isEmpty(aggregate.getRolePerStore())}">
                                    </th:block>
                                    <th:block th:unless="${#lists.isEmpty(aggregate.getRolePerStore())}">
                                        <div class="col-md-12 tileRoleStore">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">参照</div>
                                            <div class="col-md-4">編集</div>
                                        </div>
                                        <div class="col-md-12 roleStore"
                                             th:each="item,el : ${aggregate.getRolePerStore()}">
                                            <input hidden th:field="${aggregate.rolePerStore[__${el.index}__].id}"/>
                                            <input hidden
                                                   th:field="${aggregate.rolePerStore[__${el.index}__].name}"/>
                                            <input hidden
                                                   th:field="${aggregate.rolePerStore[__${el.index}__].storeId}"/>
                                            <div class=" form-group  col-md-4">
                                                <span th:text="${item.name}"> </span>

                                            </div>
                                            <div class=" form-group  col-md-4 inputCanview">
                                                <input onclick="checkButton(this, this.value, 1)"
                                                       th:field="${aggregate.rolePerStore[__${el.index}__].canView}"
                                                       th:checked="${aggregate.rolePerStore[__${el.index}__].canView}"
                                                       th:disabled="${role == 0}" th:value="__${el.index}__"
                                                       type="checkbox">
                                                <input hidden
                                                       th:checked="${aggregate.rolePerStore[__${el.index}__].canView}"
                                                       th:field="${aggregate.rolePerStore[__${el.index}__].canView}"
                                                       type="checkbox">
                                            </div>
                                            <div class=" form-group  col-md-4 inputCanedit">
                                                <input onclick="checkButton(this, this.value, 2)"
                                                       th:checked="${aggregate.rolePerStore[__${el.index}__].canEdit}"
                                                       th:disabled="${role == 0}"
                                                       th:value="__${el.index}__"
                                                       type="checkbox">

                                                <input hidden
                                                       th:checked="${aggregate.rolePerStore[__${el.index}__].canEdit}"
                                                       th:field="${aggregate.rolePerStore[__${el.index}__].canEdit}"
                                                       type="checkbox">
                                            </div>
                                        </div>
                                    </th:block>
                                    <div class="col-md-12  button-submit">
                                        <button class="btn btn-primary" id="save" type="submit">登録
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
<script th:src="@{/js/utils/string-utils.js}" type="text/javascript"></script>
<script th:src="@{/js/editUser.js}" type="text/javascript"></script>
</body>
</html>