<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout :: head('User Registration')"></head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
    <header th:replace="layout :: header"></header>
    <div th:replace="layout :: content-left"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                User Registration
            </h1>
        </section>
        <section class="content content-right">
            <div>
                <form action="#" th:action="@{/user/user-create/}" th:object="${userRegisterAggregate}" method="POST">
                    <p class="row"><label class="col-md-2">Email: </label><input class="col-md-3" type="text" th:field="*{email}"/></p>
                    <p class="row"><label class="col-md-2">Name: </label><input class="col-md-3" type="text" th:field="*{userName}"/></p>
                    <p class="row"><label class="col-md-2">Password: </label> <input class="col-md-3" type="text" th:field="*{password}"/></p>
                    <p class="row"><label class="col-md-2">Re-Password:</label> <input class="col-md-3" type="text" th:field="*{password}"/></p>
                    <p class="row"><label class="col-md-2">Flag-Test:</label> <input class="col-md-3" type="checkbox" th:field="*{flagTest}"/></p>

                    <hr>

                    <div class="row">
                        <label class="col-md-1 col-md-offset-2 text-center">View</label>
                        <label class="col-md-1 text-center">Edit</label>
                    </div>
                    <div class="row" th:each="item,index : ${userPerRoles}">
                        <label class="col-md-2" th:text="${index.index}"></label>
                        <label class="col-md-2" th:text="${item.getName()}"></label>
                        <div class="col-md-1 text-center">
                            <input type="checkbox" th:value="true" th:checked="${item.nFlag}">
                        </div>
                        <div class="col-md-1 text-center">
                            <input type="checkbox">
                        </div>
                    </div>

                    <!--<form action="#" th:action="@{/user/}" th:object="${user}" method="post">-->
                        <!--<p>Email: <input type="text" th:field="*{email}"/></p>-->
                        <!--<p>Name: <input type="text" th:field="*{name}"/></p>-->
                        <!--<p>password: <input type="text" th:field="*{password}"/></p>-->
                        <!--<p>role: <input type="number" th:field="*{role}"/></p>-->
                        <!--<p>-->
                            <!--<input type="submit" value="Submit"/>-->
                            <!--<input type="reset" value="Reset"/>-->
                        <!--</p>-->
                    <!--</form>-->

                    <p>
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                        <input type="reset" value="Clear" class="btn btn-danger"/>
                    </p>

                </form>
            </div>
        </section>
    </div>

</div>
<footer th:replace="layout :: footer"></footer>
<script type="text/javascript" src="/js/mainMenu_t.js" th:src="@{/js/listUser_t.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked"))
                $('.chkCheckBoxId').prop('checked', true);
            else
                $('.chkCheckBoxId').prop('checked', false);
        });
    });
</script>
</body>
</html>
