<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout :: head('User Update Page')"></head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
    <!--<header th:replace="layout :: header"></header>-->
    <div th:include="fragments/header/header.html :: header" class="main-header"></div>
    <div th:include="fragments/menu/menu.html :: menu" class="main-sidebar"></div>
    <!--<div th:replace="layout :: content-left"></div>-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                User Modification
            </h1>
        </section>
        <section class="content content-right">
            <div>
                <form action="#" th:action="@{/user/update}" th:object="${aggregate}" method="POST">
                    <input hidden th:field="*{userId}"/>
                    <p class="row"><label class="col-md-2">Email: </label><input class="col-md-3" type="text" th:field="*{email}"/></p>
                    <p class="row"><label class="col-md-2">Name: </label><input class="col-md-3" type="text" th:field="*{userName}"/></p>
                    <hr>

                    <div class="row">
                        <label class="col-md-1 col-md-offset-2 text-center">View</label>
                        <label class="col-md-1 text-center">Edit</label>
                    </div>

                    <div class="row" th:each="item,el : ${aggregate.getRolePerStore()}">
                        <label class="col-md-2" th:text="${item.name}"> </label>
                        <input hidden th:field="${aggregate.rolePerStore[__${el.index}__].id}"/>
                        <input hidden th:field="${aggregate.rolePerStore[__${el.index}__].name}"/>
                        <input hidden th:field="${aggregate.rolePerStore[__${el.index}__].storeId}" />
                        <div class="col-md-1 text-center">
                            <input type="checkbox" th:field="${aggregate.rolePerStore[__${el.index}__].canView}" th:checked="${aggregate.rolePerStore[__${el.index}__].canView}">
                        </div>
                        <div class="col-md-1 text-center">
                            <input type="checkbox" th:field="${aggregate.rolePerStore[__${el.index}__].canEdit}" th:checked="${aggregate.rolePerStore[__${el.index}__].canEdit}">
                        </div>
                    </div>

                    <br>
                    <div class="col-md-5 text-center">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </div>

                </form>
            </div>
        </section>
    </div>

</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>
