<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout :: head('ユーザー 登録')"></head>
    <link rel="Stylesheet" type="text/css" href="/css/registerStore.css" th:href="@{/css/registerContant.css}"/>
    <link rel="Stylesheet" type="text/css" href="/css/registerUser.css" th:href="@{/css/registerUser.css}"/>
</head>
<body id="body" class="hold-transition skin-blue sidebar-mini">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
    <div th:include="fragments/header/header.html :: header" class="main-header"></div>
    <div th:include="fragments/menu/menu.html :: menu" class="main-sidebar"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                ユーザー 登録
            </h1>
        </section>
        <section class="content content-right">
            <div>
                <form name="register-form" action="#" th:action="@{/user/register/}"
                      th:object="${userRegisterAggregate}" method="POST">
                    <p class="row"><label class="col-md-2">メールアドレス: </label><input name="email" id="email"
                                                                                   class="col-md-3" type="text"
                                                                                   th:field="*{email}" required/></p>
                    <p class="row"><label class="col-md-2">ユーザー名: </label><input class="col-md-3" type="text"
                                                                                 th:field="*{userName}" required/></p>
                    <p class="row"><label for="password" class="col-md-2">パスワード: </label> <input class="col-md-3"
                                                                                                 type="password"
                                                                                                 name="password"
                                                                                                 id="password"
                                                                                                 th:field="*{password}"
                                                                                                 onkeyup='check();'
                                                                                                 required/>
                    </p>
                    <p class="row"><label for="password" class="col-md-2">パスワード(確認用):</label> <input class="col-md-3"
                                                                                                     type="password"
                                                                                                     name="confirm_password"
                                                                                                     id="confirm_password"
                                                                                                     th:field="*{password}"
                                                                                                     onkeyup='check();'
                                                                                                     required/></p>
                    <span id='message'></span>
                    <hr>

                    <div class="row">
                        <label class="col-md-1 col-md-offset-2 text-center">参照</label>
                        <label class="col-md-1 text-center">編集</label>
                    </div>

                    <div class="row" th:each="item,el : ${userPerRoles}">
                        <label class="col-md-2" th:text="${item.name}"> </label>
                        <input hidden th:field="${userRegisterAggregate.rolePerStore[__${el.index}__].name}"/>
                        <input hidden th:field="${userRegisterAggregate.rolePerStore[__${el.index}__].storeId}"/>
                        <div class="col-md-1 text-center">
                            <input type="checkbox"
                                   th:field="${userRegisterAggregate.rolePerStore[__${el.index}__].canView}">
                        </div>
                        <div class="col-md-1 text-center">
                            <input type="checkbox"
                                   th:field="${userRegisterAggregate.rolePerStore[__${el.index}__].canEdit}">
                        </div>
                    </div>
                    <br>

                    <div class="col-md-5 text-center">
                        <input type="submit" value="Submit" name="btn-submit" id="btnSubmit" class="btn btn-primary"
                               onkeyup='check();'/>
                    </div>
                </form>
            </div>

        </section>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
<script type="text/javascript" src="/js/registerUser.js" th:src="@{/js/registerUser.js}"></script>
<script type="text/javascript" th:src="@{/js/validate-form-register.js}"></script>
</body>
</html>
