<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="layout :: head('メインメニュー')"></head>
	<link rel="Stylesheet" type="text/css" href="/css/actualResults.css" th:href="@{/css/mainMenu.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
	<header th:replace="layout :: header"></header>
	<div th:replace="layout :: content-left"></div>
    <div  class="content-wrapper">
    <section class="content-header">
      <h1>
		  メインメニュー
      </h1>
    </section>
    <section class="content content-right">
      <div class="row">
      	<div class="col-md-12 button_top">
      		<div class="col-md-1">
      		</div>
   			<div class="col-md-2 burron-top-order">
      			<button type="submit" class="btn btn-primary ">発注</button>
      		</div>
      		<div class="col-md-1">
      		</div>
      		<div class="col-md-2 button-top-delivery">
      			<button type="submit" class="btn btn-primary ">実績</button>
      		</div>
      		<div class="col-md-6">
      			
      		</div>
      	</div>
 		<div class="col-md-12">
 		  <div class="box box-primary">
 		  	  <div class="box-header">
              	<!--<h3 class="box-title">Search Product</h3>-->
           	  </div>
 	          <div class="box-body">
            	<!-- <form class="form-inline" action="/action_page.php"> -->
            	  <div class="col-md-12" style="padding: 0">
	            	  <div style="padding: 0" class="col-md-1">
	            	  	<label for="pwd">日付</label>
	            	  </div>
					  <div class="form-group col-md-2" style="padding: 0">
					  	 <div class="input-group">
		                  	<div class="input-group-addon">
		                    	<i class="fa fa-calendar"></i>
		                  	</div>
		                  <input type="text" class="form-control" id="min" placeholder="Input date">
		                </div>
					  </div>
					  <div class="form-group col-md-1" style="padding: 0">
					  	<label style="justify-content: center; display: flex;" for="pwd">-</label>
					  </div>
					  <div class="form-group col-md-2" style="padding: 0">
					      <div class="input-group">
		                  	<div class="input-group-addon">
		                    	<i class="fa fa-calendar"></i>
		                  	</div>
		                  <input type="text" class="form-control" id="max" placeholder="Input date">
		                </div>
					  </div>
					  <div class="col-md-1">
					  </div>
					  <div class="col-md-1" style="padding: 0">
					  	<label for="pwd">便</label>
					  </div>
					  <div class="form-group col-md-2" style="padding: 0">
					     <div class="input-group">
		                  	<div class="input-group-addon">
		                    	<i class="fa fa-cube"></i>
		                  	</div>
		                  <input type="text" class="form-control" id="post" placeholder="Input post">
		                </div>
					  </div>
					  <div class="form-group col-md-2" style="padding: 0">
					  </div>
				  </div>
				  <div class="col-md-12 burron-top-order button-search">
				  	<div class="col-md-10"></div>
				  	<div class="col-md-2">
				  		<button type="submit" class="btn btn-primary " id="search">検索</button>
				  	</div>
		      		
		      	  </div>
				<!-- </form>	 -->           
            </div>
          </div>
        </div>
        <div class="col-md-12">
        	<div class="panel with-nav-tabs panel-primary">
		                <div class="panel-heading">
		                        <ul class="nav nav-tabs">
		                            <li class="active"><a href="#tab1primary" th:href="@{/#tab1primary}" data-toggle="tab">物流</a></li>
		                            <li><a href="#tab2primary" th:href="@{/#tab2primary}" data-toggle="tab">発注				</a></li>
		                        </ul>
		                </div>
		                <div class="panel-body">
		                    <div class="tab-content">
		                        <div class="tab-pane fade in active" id="tab1primary">
		                        	<table id="table-logicstic" class="table table-bordered">
								    <thead style="background: #337ab7">
								      <tr>
										  <th>日付</th>
								        <th>店舗</th>
								        <th>便</th>
								        <th>発注総数</th>
								        <th>金額</th>
								        <th>ばんじゅう</th>
								        <th>箱</th>
								        <th>ケース</th>
								        <th>総重量</th>
								        <th>総才数</th>
								        <th>コース</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
										  <td>10/23/2018</td>
								        <td>A</td>

								        <td>1</td>
								        <td>onigiri 100</td>
								        <td>1000</td>
								        <td>10</td>
								        <td>2</td>
								        <td>0</td>
								        <td>250kg</td>
								        <td>100</td>
								        <td>courseA</td>

								      </tr>
								      <tr>
										  <td>10/23/2018</td>
								        <td>A</td>
								        <td>3</td>
								        <td>sandwich 50</td>
								        <td>4000</td>
								        <td>10</td>
								        <td>5</td>
								        <td>1</td>
								        <td>120kg</td>
								        <td>50</td>
								        <td>courseA</td>


								      </tr>
								      <tr>
										  <td>10/23/2018</td>
								        <td>B</td>
								        <td>1</td>
								        <td>xuxi 100</td>
								        <td>800</td>
								        <td>20</td>
								        <td>2</td>
								        <td>1</td>
								        <td>200kg</td>
								        <td>190</td>
								        <td>courseB</td>

								      </tr>
								      </tbody>
								  </table>
		                        </div>
		                        <div class="tab-pane fade" id="tab2primary">
		                        	<table id="table-order" class="table table-bordered">
								    <thead style="background: #337ab7">
								      <tr>
								        <th>日付</th>
								        <th>店舗</th>
								        <th>便</th>
								        <th>商品</th>
								        <th>個数</th>
								        <th>大分類</th>
								        <th>中分類</th>
								        <th>小分類</th>
								        <th>温度</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>01/20/2018</td>
								        <td>A</td>
								        <td>2</td>
								        <td>xuxi 100</td>
								        <td>ca1</td>
								        <td></td>
								        <td></td>
								        <td>24</td>
								        <td>courseA</td>

								      </tr>
								      <tr>
								        <td>12/29/2018</td>
								        <td>A</td>
								        <td>5</td>
								        <td>xuxi 200</td>
								        <td></td>
								        <td>ca2</td>
								        <td></td>
								        <td>25</td>
								        <td>courseA</td>

								      </tr>
								      <tr>
								        <td>03/20/2018</td>
								        <td>B</td>
								        <td>1</td>
								        <td>sandwich 100</td>
								        <td></td>
								        <td></td>
								        <td>ca3</td>
								        <td>16</td>
								        <td>courseB</td>

								      </tr>
								      </tbody>
								  </table>
		                        </div>
		                    </div>
		                </div>
		            </div>
        </div>
        </div>

    </section>
  </div>

	
</div>
<footer th:replace="layout :: footer"></footer>
<script type="text/javascript" src="/js/mainMenu_t.js" th:src="@{/js/mainMenu_t.js}"></script>
</body>
</html>
