<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout :: head('店舗一覧')"></head>
    <link rel="Stylesheet" type="text/css" href="/css/listStore.css" th:href="@{/css/listStore.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
    <div th:include="fragments/header/header.html :: header" class="main-header"></div>
    <div th:include="fragments/menu/menu.html :: menu" class="main-sidebar"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                店舗一覧
            </h1>
        </section>
        <section class="content content-right">
            <div class="row">

                <div class="col-md-12 button_top">
                    <div class="col-md-2 button-top-order">
                        <a style="border-radius: 0px;" type="submit" class="btn btn-primary"
                           th:href="@{/store/create}">新規登録</a>
                    </div>
                    <div class="col-md-2 button-top-delivery">
                        <a style="border-radius: 0px;" class="btn btn-primary" onclick="deleteStore()">削除</a>
                    </div>
                    <div class="col-md-8">
                    </div>
                </div>

                <div class="col-md-12">
                    <div style="border-top: 3px solid #337ab7;" class="box">
                        <div class="box-body">
                            <th:block th:if="${#lists.isEmpty(storePage)}">
                                <h3>No store</h3>
                            </th:block>
                            <table id="listStore" class="table table-bordered table-hover">
                                <thead style="background: #337ab7">
                                <tr>
                                    <th style="text-align: center;">
                                        <input type="checkbox" id="checkBoxAll">
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="listStore" rowspan="1" colspan="1"
                                        aria-label="Store code: activate to sort column ascending"> 店舗コード
                                    </th>
                                    <th>店舗名</th>     <!--StoreName-->
                                    <th>住所</th>       <!--Address-->
                                    <th>電話番号</th>    <!--Phone Number-->
                                    <th>担当者</th>      <!--Person in change-->
                                    <th>大エリア</th>
                                    <th>エリア</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="store,iterStat : ${storePage}">
                                    <td style="text-align: center;">
                                        <input type="checkbox" th:value="${store.storeId}"
                                               class="chkCheckBoxId"
                                               name="storeid">
                                    </td>
                                    <td>
                                        <a href="store-edit"
                                           th:href="@{/store/update/{storeId}/{tenantId}/(storeId=${store.storeId},tenantId=${store.tenantId})}"
                                           class="" th:text="${store.code}"></a>
                                    </td>
                                    <td th:text="${store.name}">Store A</td>
                                    <td th:text="${store.address}">Address</td>
                                    <td th:text="${store.phoneNumber}">Telephone Number</td>
                                    <td th:text="${store.personCharge}">person_in_charge</td>
                                    <td th:text="${store.majorArea}">Hiroshima</td>
                                    <td th:text="${store.area}">Hiroshima</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<footer th:replace="layout :: footer"></footer>
<script type="text/javascript" src="/js/listStore.js" th:src="@{/js/liststore.js}"></script>
</body>
</html>
