<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout :: head('店舗一覧')"></head>
    <link rel="Stylesheet" type="text/css" href="/css/listStore.css" th:href="@{/css/listStore.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
    <div th:include="fragments/header/header.html :: header" class="main-header"></div>
    <div th:include="fragments/menu/menu.html :: menu" class="main-sidebar"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                店舗一覧
            </h1>
        </section>
        <section class="content content-right">
            <div class="row">

                <div class="col-md-12 button_top">
                    <div class="col-md-2 button-top-order">
                        <a style="border-radius: 0px;" type="submit" class="btn btn-primary"
                           th:href="@{/store/create}">新規登録</a>
                    </div>
                    <div class="col-md-2 button-top-delivery">
                        <a style="border-radius: 0px;" class="btn btn-primary" onclick="deleteStore()">削除</a>
                    </div>
                    <div class="col-md-8">
                    </div>
                </div>

                <div class="col-md-12">
                    <div style="border-top: 3px solid #337ab7;" class="box">
                        <div>
                            <div class="col-sm-6">
                                <div style="padding-top: 10px;">
                                    <label>
                                        <select id="listStore_length"
                                                name="listStore_length" aria-controls="listStore"
                                                class="form-control input-sm" style="padding: 1px;"
                                                onchange="changeSizeStore()">
                                            <option value="5" selected>5</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select></label><label style="padding-left: 10px; "> 件を表示 </label></div>
                            </div>
                            <div class="col-sm-6">
                                <div id="listStore_filter" style="float: right; padding-top: 10px;"
                                     class="dataTables_filter">
                                    <label>
                                        <input id="inputSearch" name="inputSearch"
                                               type="search"
                                               th:value="${searchText}"
                                               class="form-control input-sm"
                                               placeholder="コード、名前、エリアを入力 "
                                               aria-controls="listStore"></label>

                                    <a class="btn btn-search active" type="button" id="btnSearch" href="/search"
                                       th:href="@{/store/list(page=${prevPage},
                                       searchText= ${searchText}
                                       )} ">
                                        <i class="fa fa-search fa-fw" onclick=""></i> Search</a>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <th:block th:if="${#lists.isEmpty(storePage)}">
                                <h3>No store</h3>
                            </th:block>
                            <table id="listStore" class="table table-bordered table-hover">
                                <thead style="background: #337ab7">
                                <tr>
                                    <th style="text-align: center;">
                                        <input type="checkbox" id="checkBoxAll">
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="listStore" rowspan="1" colspan="1"
                                        aria-label="Store code: activate to sort column ascending"> 店舗コード
                                    </th>
                                    <th>店舗名</th>
                                    <th>住所</th>
                                    <th>電話番号</th>
                                    <th>担当者</th>
                                    <th>大エリア</th>
                                    <th>エリア</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="store,iterStat : ${storePage}">
                                    <td style="text-align: center;">
                                        <input type="checkbox" th:value="${store.storeId}"
                                               class="chkCheckBoxId"
                                               name="storeid">
                                    </td>
                                    <td>
                                        <a href="store-edit"
                                           th:href="@{/store/update/{storeId}(storeId=${store.storeId})}"
                                           class="" th:text="${store.code}"></a>
                                    </td>
                                    <td th:text="${store.address}">Address</td>
                                    <td th:text="${store.phoneNumber}">Telephone Number</td>
                                    <td th:text="${store.personCharge}">person_in_charge</td>
                                    <td th:text="${store.name}">Store A</td>
                                    <td th:text="${store.majorArea}">Hiroshima</td>
                                    <td th:text="${store.area}">Hiroshima</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="row" style="padding-left: 10px;">
                            <div class="col-sm-5">
                              <!--  <div class="dataTables_info" style="padding-top: 20px;" id="listStore_info"
                                     role="status"
                                     aria-live="polite"
                                     th:text="${spage}">
                                </div>-->
                            </div>
                            <div class="col-sm-7" style="padding-left: 10px;" th:if="${storePage.totalPages > 0}">
                                <div class="dataTables_paginate paging_simple_numbers"
                                     style="float: right; padding-right: 10px;">
                                    <ul class="pagination ">
                                        <li class="paginate_button previous" id="listStore_previous">
                                            <a href="/prevPage"
                                               th:href="@{/store/list(page=${prevPage},searchText= ${searchText})} "
                                               aria-controls="listStore" data-dt-idx="0" tabindex="0">
                                                前へ </a></li>
                                        <li th:each="pageNumber : ${pageNumbers}"
                                            th:if="${storePage.totalPages > 0}"
                                            style="border: #00a65a; border-width: 1px;"
                                            th:class="${currentPage == pageNumber}? active : userclass">
                                            <a href="#"
                                               th:href="@{/store/list(currentPage=pageNumber, page=${pageNumber},searchText= ${searchText})}"
                                               th:text="${pageNumber}" aria-controls="listStore" data-dt-idx="1"
                                               tabindex="0">
                                            </a>

                                        </li>
                                        <li class="paginate_button next" id="listStore_next">
                                            <a href="#"
                                               th:href="@{/store/list(page=${nextPage},searchText= ${searchText})}"
                                               aria-controls="listStore" data-dt-idx="2" tabindex="0"> 次へ </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<footer th:replace="layout :: footer"></footer>
<script type="text/javascript" src="/js/listStore.js" th:src="@{/js/liststore.js}"></script>
<!-- DataTables -->
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
</body>
</html>
