<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="layout :: head(' 店舗 登録 / Register Store')"></head>
	<link rel="Stylesheet" type="text/css" href="/css/registerStore.css" th:href="@{/css/registerStore.css}"/>

</head>
<body id="body" class="hold-transition skin-blue sidebar-mini">
<div class="" style="height: auto;min-height: 100%; background: #222d32">
	<div th:include="fragments/header/header.html :: header" class="main-header"></div>
	<div th:include="fragments/menu/menu.html :: menu" class="main-sidebar"></div>
    <div  class="content-wrapper">
    <section class="content-header">
      <h1>
		  店舗 登録 / Register Store
      </h1>
    </section>
    <section class="content content-right">
      <div class="row">
      	 <div class="col-md-12">
      			<div class="col-md-2">
      			</div>
      			
      			<div class="col-md-8">
			 	  <div class="box box-primary">
			 		 <div style="text-align: center;" class="box-header">
			             <p class="box-titles">Register a new store</p>
			         </div>
			 	     <div class="box-body">
			 	     	<form  th:action="@{/store/registerStore}" th:method="post" th:object="${store}">
	      				 <div class="col-md-12">
	       					<span class="col-md-5">店舗コード / Store code</span>
	      					<div class=" form-group col-md-6 has-feedback">
	      						<input id="code" class="form-control" type="text" th:field="*{code}" th:errorclass="field-error" >
	      						<span class="glyphicon glyphicon-barcode form-control-feedback"></span>
	      						<em id="errorPost" class = "error">code is required</em>
	      						<em class="error_show" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></em>
	      						
	      					</div>
							<div class="col-md-1"></div>
	      				</div>
	      				<div class="col-md-12">
	      					<span class="col-md-5">店舗名 / Store name</span>
	      					<div class="form-group col-md-6" style="">
								<input id="course" class="form-control" type="text" th:field="*{name}" th:errorclass="field-error">
								<span class="glyphicon glyphicon-home form-control-feedback"></span>
								<em id="errorCourse" class = "error">name is required</em>
								<em  class="error_show" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>
							</div>
							<div class="col-md-1"></div>
	      				</div>
	      				<div class="col-md-12">
	      					<span class="col-md-5">大エリア / Major are</span>
	      					<div class=" form-group col-md-6" style="">
								<input class="form-control" type="text" th:field="*{majorArea}">
								<span class="fa fa-area-chart form-control-feedback"></span>
							</div>
							<div class="col-md-1"></div>
	      				</div>
	      				<div class="col-md-12">
	      					<span class="col-md-5">エリア / area</span>
	      					<div class=" form-group col-md-6" style="">
								<input class="form-control" type="text"  th:field="*{area}">
								<span class="fa fa-area-chart form-control-feedback"></span>
							</div>
							<div class="col-md-1"></div>
	      				</div>

	      				  <div id="postCourseList" class="container_order_course" >
		      				<div class="col-md-12 order_course item" id = "deleteRow"th:each="PostCourse, postCourse : ${store.postCourses}">
								<div class=" form-group  col-md-5 div-input-post">
		      						<div class=" col-md-5 title-input-post"><span>便 / Post</span></div>
		      				  	<div class=" col-md-7 edit-checkbox title-input-post">
		      				  		<input id="post0" th:field="*{postCourses[__${postCourse.index}__].post}" class="form-control" type="text" th:errorclass="field-error">
		      				  		<em class = "error">post is required</em>
		      				  		<em  class="error_show" th:if="${#fields.hasErrors('postCourses[__${postCourse.index}__].post')}" th:errors="*{postCourses[__${postCourse.index}__].post}"></em>
		      				  	</div><br>

		 	    					</div>
		      					<div class=" form-group col-md-6 div-input-post">
		      						<div class="col-md-6 title-input-post"><span>コース / Course</span></div>
		      						<div class="col-md-6 edit-checkbox title-input-post">
		      							<input id="course0" th:field="*{postCourses[__${postCourse.index}__].course}" class="form-control" type="text" th:errorclass="field-error">
		      							<em class = "error">course is required</em>
		      							<em  class="error_show" th:if="${#fields.hasErrors('postCourses[__${postCourse.index}__].course')}" th:errors="*{postCourses[__${postCourse.index}__].course}"></em>
		      						</div>

		      					</div>
		      					<div class="col-md-1"><button type="button"  id="delete">x</button></div>
		      				</div>

	      				</div>
	      				<div class="col-md-12">
	      					<div class="col-md-5"></div>
	      					<div class=" col-md-6"></div>
									<div class="col-md-1"><button type="button" id="add" >+</button></div>
	      				</div>
	      				
	      				<div class="modal fade" id="exampleModal" tabindex="-1"
											role="dialog" aria-labelledby="exampleModalLabel"
											aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">削除確認	</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">削除してよろしいでしょうか？</div>
													<div style="border-top: none; text-align: center;"
														class="modal-footer">
														<button type="submit" class="btn btn-primary buttonSave"
															id="other">OK</button>
														<button type="button" class="btn btn-secondary buttonClose"
															data-dismiss="modal" >キャンセル</button>
														
													</div>
												</div>
											</div>
										</div>

				  		</form>
				  			<div class="col-md-12  button-submit">
				  				<button class="btn btn-primary" id="save" data-toggle="modal" data-target="#exampleModal">ç™»éŒ² / Register</button>
				  		</div> 
				  		
      				 </div>
			 	  </div>
     			</div>
      			<div class="col-md-2">
      			</div>
           		</div>
      
       </div>

    </section>
  </div>
</div>
<footer th:replace="layout :: footer"></footer>
<script type="text/javascript" src="/js/registerStore.js" th:src="@{/js/registerStore.js}"></script>
</body>
</html>
