<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</body>
  <header class="main-header" th:fragment="header">
	
    <span class="logo">
      <span class="logo-mini">LYNA</span>
      <span class="logo-lg">LYNA</span>
    </span>
     <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="/user/update-info-user/" th:href="@{'/user/update-info-user/'}">
              <i class="glyphicon glyphicon-user"></i>
              <span class="hidden-xs"><label sec:authentication="principal.name"></label></span>
            </a>
          </li>
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" href="/logout" th:href="@{/logout}">
              <i class="glyphicon glyphicon-log-out"></i>
              <span class="hidden-xs">ログアウト</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</body>
</html>
