<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</body>
 <footer th:fragment="footer">
 	<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<script src="/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
<script src="/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script src="/js/dataTables.bootstrap.min.js" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script src="/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
 </footer>
</body>
</html>


