<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <aside class="main-sidebar" th:fragment="menu">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li style="font-size: 104%;padding: 0; " class="header">
                    <a href="/mainScreen" th:href="@{/mainScreen}"><i style="padding-right: 12%" class="glyphicon glyphicon-home"></i>メインメニュー
                    </a>
                </li>
                <li class=" treeview">
                    <a href="#">
                        <i class="fa fa-product-hunt"></i>
                        <span>商品マスター</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/product/list" th:href="@{/product/list}"><i class="fa fa-circle-o text-red"></i>商品一覧
                            </a>
                        </li>
                        <li>
                            <a href="/product/create" th:href="@{/product/create}"><i
                                    class="fa fa-circle-o text-red"></i>商品登録
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-cube"></i>
                        <span>荷姿マスタ</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/package/list" th:href="@{/package/list}">
                                <i class="fa fa-circle-o text-green"></i>荷姿一覧
                            </a>
                        </li>
                        <li>
                            <a href="/package/create" th:href="@{/package/create}"><i
                                    class="fa fa-circle-o text-green"></i>荷姿登録
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-credit-card"></i>
                        <span>店舗マスター</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/store/list" th:href="@{/store/list}"><i class="fa fa-circle-o text-yellow"></i>店舗一覧
                            </a>
                        </li>
                        <li>
                            <a href="/store/create" th:href="@{/store/create}"><i class="fa fa-circle-o text-yellow"></i>店舗登録
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>ユーザー管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a th:href="@{/user/list}"><i class="fa fa-circle-o text-aqua"></i>ユーザー一覧
                            </a>
                        </li>
                        <li>
                            <a href="/create-user" th:href="@{/user/register}">
                                <i class="fa fa-circle-o text-aqua"></i>
                                ユーザー登録
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    </body>
</html>
